body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #23282C;
}

.form-wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: #ffffff;
}

form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  width: 100%;
  color: #111;
  font-weight: lighter;
}

label {
  font-size: 0.8em;
  margin-bottom: 0.25em;
  color: #222;
  font-weight: lighter;
}

input, textarea {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

textarea {
  resize: none;
  height: 100px;
  overflow: hidden;
}

textarea::placeholder,
input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #999;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.nomeFuncionario,
.senhaFuncionario,
.salario,
.horarioAtuacao,
.nomeAlunos {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.salario {
  margin-right: 1%;
}

.horarioAtuacao {
  margin-left: 1%;
}

.salario,
.horarioAtuacao {
  width: 49%;
}

.nomeFuncionario,
.senhaFuncionario,
.nomeAlunos {
  width: 100%;
}

.botao {
  width: 100%;
  display: flex;
  flex-direction: inherit;
  align-items: center;
}

.botao button {
  background-color: #23282C;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.botao button:hover {
  color: #23282C;
  background-color: #fff;
  border: 2px solid #23282C;
}
